.itemListaContainer {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    background: rgba(217, 217, 217, 0.05);
    border-radius: 4px;
    padding: 15px 10px 0;
}

.textoData {
    font-weight: 500;
    font-size: 12px;
}

.textoHora {
    font-weight: 700;
    font-size: 12px;
}