.containerPontos {
    width: 365px;
    height:100vh;
    margin: auto; 
    padding: 5px;  
    color: #F5F5F5;
 }

 .infoCabecalho {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
 }

 .textoInfo {
    font-size: 11.6px;
    font-weight: 700;
 }

 .horasTexto {
    margin-top: 40px;
    font-size:23.2px;
    display: block;
 }

 .containerLista {
    margin-top: 20px;
 }